class AbortedModal extends React.Component {
  render () {
    return (
        <Modal>
            <div className="modal-header qw-modal__header">
                <h4 className="modal-title">Your opponent run away, <strong>You won!</strong></h4>
            </div>
            <div className="modal-body qw-modal__body">
              <img src="<%= asset_path('cup') %>" alt="image of a winning cup" className="qw-modal__image"/>
            </div>
            <div className="modal-footer qw-modal__footer">
                <a href="/" className="btn btn-success">Ok</a>
            </div>
        </Modal>
    );
  }
}

