.navbar {
  background-color: rgba(0, 0, 0, 0.16) !important;
  border-bottom: 1px solid rgba(49, 42, 42, 0.35) !important;
  &__brand-name {
    font-family: 'Shadows Into Light', cursive;
    font-size: 26px !important;
    font-weight: 600;
    line-height: 80px;
    float: left;
    color: white !important;
    &--first {
      display: block;
      margin-bottom: 0;
    }
    &--second {
      display: block;
      padding-left: 20px;
    }
  }
  &__logo {
    height: 80px;
    float: left;
    &:after {
      clear: left;
    }
  }
  &__right-section{
    line-height: 80px;
    padding-right: 40px;
    p {
      margin: 0;
    }
    &--invitation-info {
      margin: 0 10px;
      cursor: pointer;
      padding-bottom: 30px;
      p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      &:hover {
        border-bottom: 3px solid $salmon;
      }
    }
    &--user-avatar {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin: 0 7px;
    }
    &--session-info {
      color: white;
      padding-right: 15px;
      strong {
        color: $salmon;
      }
    }
    &--logout-info {
    }
  }
}
